{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <fieldset>
        <legend>Login Form</legend>
        <div class="form-group">
            <label for="u_name">Username:</label>
            <input type="text" name="u_name" id="name" required>
        </div>
        <div>
            <label for="u_passwd">password:</label>
            <input type="password" name="u_passwd" id="u_passwd" required>
        </div>
        <input type="submit" value="Login">
    </fieldset>
</form>
{% endblock content %}